.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background-color: transparent; 
}

.card {
    background-color: var(--bg-card);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px var(--shadow-color); 
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 1px solid var(--border-light);
}

.card-title {
    color: var(--text-heading);
    margin-bottom: 25px;
    font-size: 1.8rem;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--text-main);
    font-size: 0.9rem;
}

.input-group input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    
    background-color: var(--bg-input);
    color: var(--text-main);
}

.input-group input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
}

.btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    transition: background-color 0.3s, transform 0.1s;
}

.btn.primary {
    background-color: var(--primary-color);
    color: white;
}

.btn.primary:hover {
    background-color: var(--primary-hover);
    transform: translateY(-1px);
}

.btn.secondary {
    background: none;
    color: var(--text-main);
    border: 1px solid var(--border-color);
    margin-top: 15px;
    font-size: 0.9rem;
}

.btn.secondary:hover {
    background-color: var(--bg-element-alt);
}